.place__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #ffffff;
  margin: 0;
  width: 47%;
  margin-right: 4%;
}

@media screen and (max-width: 1279px) {
  .place__title {
    width: 47.5%;
    margin-right: 3.5%;
  }
}

@media screen and (max-width: 1023px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 45.5%;
    margin-right: 5.5%;
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    width: 90%;
    margin: 0 auto;
  }
}
