.footer__link {
  text-decoration: none;
  color: #ffffff;
}

.footer__link:not(:last-child) {
  margin-right: 19px;
}

@media screen and (max-width: 767px) {
  .footer__link:not(:last-child) {
    margin-bottom: 32px;
    margin-right: 0;
  }
}
